.header {
    display: flex;
    gap: 0.7rem;

    width: 100%;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid rgb(235, 235, 235);

    .heading {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 2px;
        flex: 1;
    }

    .heading_name {
        font-size: 14px;
        font-weight: 500;
    }

    .heading_description {
        font-size: 14px;
        color: #342f2d;
        opacity: 0.70;
    }
}