.values {
    .values_heading {
        font-size: 0.75rem;
        letter-spacing: 0.1em;
    }

    .title {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
    }

    .description {
        color: rgb(91 97 109);
        font-size: .75rem;
        line-height: 1rem;
        margin-top: .25rem;
    }

    .values_list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 0.75rem;

        position: relative;
    }

    .edit_control {
        position: absolute;
        right: -20%;
        top: -25%;
        display: flex;
        gap: 8px;
        align-items: center;
        color: #667bf6;
        font-size: 0.75rem;

        .edit_icon_container {
            padding: 8px;
            border-radius: 50%;
            background: #f4f4f5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .edit_icon {
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.values_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 0.75rem;
    position: relative;

    .input {
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #ebebeb;

        font-size: .875rem;
        line-height: 1.25rem;
    }

    .value_input_item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }

    .addvalue_button {
        position: absolute;
        top: -35px;
        left: 90%;
    }

    .form_actions {
        margin-top: 4px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }
}