.negative_words {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .negative_heading {
        font-size: 0.75rem;
        letter-spacing: 0.1em;
    }

    .negative_subheading {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .edit_control {
        position: absolute;
        min-width: 100px;
        left: calc(100% + 12px);
        top: 12px;
        display: flex;
        gap: 8px;
        align-items: center;
        color: #667bf6;
        font-size: 0.75rem;

        .edit_icon_container {
            padding: 8px;
            border-radius: 50%;
            background: #f4f4f5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .edit_icon {
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

}

.pill {
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    background: rgb(254 226 226);
    border-radius: 6px;
}

.keyword_pills {
    margin-top: 1rem;
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.form_actions {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}