.logos_heading {
    font-size: 0.75rem;
    letter-spacing: 0.1em;
}

.selected_logos {
    padding-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    .logo_image {
        height: 50px;
        width: auto;
    }
}

.edit_control {
    position: absolute;
    min-width: 100px;
    left: calc(100% + 12px);
    top: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #667bf6;
    font-size: 0.75rem;

    .edit_icon_container {
        padding: 8px;
        border-radius: 50%;
        background: #f4f4f5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit_icon {
        width: 1rem;
        height: 1rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.logos_container {
    position: relative;

    .remove_overlay {
        display: none;
        position: absolute;
        top: -12px;
        right: -12px;
        background: #fff;
        /* fill: #fff; */
        padding: 0.25rem;
        border-radius: 50%;
        z-index: 10;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

        .remove_icon {
            transform: rotate(45deg);
        }
    }

    &:hover .remove_overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}